.rounded-checkbox {
    width:20px;
    height: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid rgb(236, 57, 57);
    appearance: none;
    
    outline: none;
    cursor: pointer;
  }
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(53% at 53% 57%);
    background-color: rgba(227, 60, 18, 0.44);
  }